/*.cfg
*.gitattributes
*.opensdf
*.sdf
*.suo
*.vcxproj
*.filters
*.log
*.tlog
*.lastbuildstate
*.obj
*.idb
*.pdb
*.exe
*.ilk
*.user
*.out
*.output
*.pyc
*.*~*
*.swp
*.swo
*.nfs*
*.pdf
*.o
*.d
*.dll
*.lib
*.exe
*.blg
*.fls
*.out
*.zip
*.tgz
*.tar
*.bak
makeout
tags
.idea/
build/
input_files/
cmake-build-debug/
cmake-build-release/
python_version/*.txt
build_*/
killme/
*.bbl
*.aux
*.blg
*.bcf
*.toc
*.lof
*.iof
*.fdb_latexmk
*.run.xml

